.profileTags__container {
    width: 100%;
    color: rgba(var(--themeFontColor), 1);
    margin-bottom: 16px;

    .profileTags__main {
        padding-top: 3px;

        .profileTags__empty {
            font-style: italic;
            font-weight: 300;
            font-size: 12px;
            opacity: .5;
        }

        .ant-tag-borderless {
            color: rgba(var(--themeFontColorInvert), 1);
            margin: 0 3px;
        }

        .profileTags__tagActive {
            border-color: transparent;
            color: rgba(var(--themeFontColorInvert), 1);
            background: rgba(var(--themeFontColor), .95);
        }

        .profileTags__tagPending {
            border-color: rgba(var(--themeFontColor), .5);
            color: rgba(var(--themeFontColor), 1);
            background: tranparent;
            opacity: .5 !important;
        }
    }
}