.profileTags__container {
    width: 100%;
    color: rgba(var(--themeFontColor), 1);
    margin-bottom: 16px;

    .profileDescription__main {
        padding-top: 3px;

        .profileDescription__empty {
            font-style: italic;
            font-weight: 300;
            font-size: 12px;
            opacity: .5;
        }

        .ant-tag-borderless {
            border-color: transparent;
            background: rgba(var(--themeFontColor), .95);
            color: rgba(var(--themeFontColorInvert), 1);
            margin: 0 3px;
        }
    }
}