.agenda__container {
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    .agenda__eventContainer {
        width: 100%;    
        max-width: 800px;
    }
    .color1 {
        background-color: DarkRed;
        color: white;
    }
}