.agenda__container {
    width: 100%;  
    max-width: 1200px;  
    text-align: center;
    .agenda__eventContainer {
        width: calc(100% - 40px - 40px); // - padding - margin
        margin: 20px;
        padding: 20px;
        border-radius: 12px;  
        font-size: 16px;
        letter-spacing: 3px;
        cursor: pointer;
        &:hover {
            filter: contrast(1.2);
        }
    }
    .color1 {
        background-color: DarkSlateGray;
        color: white;
    }
    .color2 {
        background-color: PeachPuff;
        border: 1px solid rgb(231, 188, 169);
        color: black;
    }
    .color3 {
        background-color: Maroon;
        color: white;
    }
    .color4 {
        background-color: CadetBlue;
        color: white;
    }
    .color5 {
        background-color: DimGray;
        color: white;
    }
    .color6 {
        background-color: DarkGoldenrod;
        color: white;
    }
}