.cookie__container {   
    position: fixed;
    bottom: -500px;   
    right: 0;
    margin: 24px;    
    padding: 24px;
    max-height: 500px;
    width: 336px;
    height: auto;  
    contain: content;    
    box-shadow: 0 2px 6px 0px rgba(0,0,0,0.3);
    transition: all .3s ease-in; 
    overflow-y: auto;
    background-color: rgba(0,0,0,.7);
    text-align: left;
    border-radius: 7px;
    z-index: 5;
    line-height: 1.5;
    .cookie__title {
        font-size: 16px;
        padding-bottom: 8px;
        font-weight: 500;
    }
    .cookie__body {
        font-size: 14px;
        text-align: justify;
        text-justify: inter-word;
    }
    .cookie__button {
        width: 100%;
        margin-top: 16px;
        &:hover {
            border-color: #999 !important;
            color: white !important;
            background-color: #CCC !important;
        }
    }
    .cookie__closebutton {
        position: absolute;
        font-size: 14px;
        top: 16px;
        right: 16px;
    }
}

@media only screen and (max-width: 675px) {
    .cookie__container {
        width: calc(100% - 48px);
        height: fit-content;
        bottom: -250px;
        margin: 0; 
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
 }