.settingElement__container {
    padding: 8px 0;
    font-weight: 300;

    &:hover {
        cursor: pointer;
    }

    .settingElement__switchContainer {
        width: 50px;
        display: inline-flex;
    }

    .settingElement__titleContainer {
        width: calc(100% - 55px);
        display: inline-flex;
    }

}

@media (max-width: 800px) {
    .settingElement__container {
        text-justify: inter-word;
    }
}