.settingElement__container {
    padding: 8px 0;
    font-weight: 300;

    &:hover {
        cursor: pointer;
    }

    .settingElement__switchContainer {
        width: 50px;
        display: inline-flex;
    }

    .settingElement__titleContainer {
        width: calc(100% - 55px);
        display: inline-flex;
    }

    .settingElement__switchContainerDepend {
        width: 85px;
        display: inline-flex;

        .settingsElement__dependLogo {
            position: relative;
            top: -4px;
            left: 4px;
            padding: 0 8px;
            transform: scaleX(-1);
        }
    }

    .settingElement__titleContainerDepend {
        width: calc(100% - 90px);
        display: inline-flex;
        vertical-align: top;
    }

}

@media (max-width: 800px) {
    .settingElement__container {
        text-justify: inter-word;
    }
}