.EditSettings__main {
  width: 100vw;
  height: auto;
  font-size: 16px;
  color: rgba(var(--themeFontColor), 1);

  .EditSettings__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100 - 70px - 70px); // 70px is the header
  }

  .EditSettings__segmentedContainer {
    margin: 40px 8vw;
    max-width: 1200px;
    text-align: center;
    vertical-align: top;

    .ant-segmented {
      background: rgba(white, .15);
      color: rgba(var(--themeFontColor), .75);
    }

    .ant-segmented-item-label {
      &:hover {
        color: rgba(var(--themeBlackOrWhiteColor), 1);
      }
    }

    .ant-segmented-thumb {
      background-color: rgba(var(--themeFontColor), .25) !important;
    }

    .ant-segmented-item-selected {
      background-color: rgba(var(--themeFontColor), 1) !important;
      color: rgba(var(--themeFontColorInvert), 1) !important;
    }
  }

  .EditSettings__container {
    margin: 40px 8vw;
    max-width: 1200px;
    text-align: left;
    vertical-align: top;

    .ant-divider-inner-text {
      font-size: 18px;
      color: rgba(var(--themeBlackOrWhiteColor), 1);
    }

    .EditSettings__divider {
      border-color: rgba(var(--themeBlackOrWhiteColor), .25);
    }

    .EditSettings__spacerDiv {
      padding: 8px;
    }

    .EditSettings__flexContainer {
      justify-content: space-evenly;
      display: flex;
    }
  }
}


@media (max-width: 800px) {
  .EditSettings__main {
    font-size: 14px;

    .EditSettings__container {
      .ant-divider-inner-text {
        font-size: 16px;
      }

      .EditSettings__centerDiv {
        text-align: center;
      }

      .EditSettings__flexContainer {
        display: block;
      }
    }
  }
}