.event__white {
    background: linear-gradient(rgba(white, .05) 0%, transparent 75%);
    color: white;

    &:hover {
        filter: contrast(1.5);
        box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 100px -10px inset;
    }
}

.event__black {
    background: linear-gradient(rgba(white, .25) 0%, transparent 75%);
    color: black;

    &:hover {
        filter: contrast(1.2);
        box-shadow: rgba(white, 0.5) 0 0 100px -10px inset;
    }
}

.event__containerMarginTop {
    margin: 20px 0 0 0 !important;
}

.event__Container {
    position: relative;
    transition: all .3s !important;
    width: calc(100% - 40px); // - padding
    padding: 0 20px;
    margin: 12px 0 0 0;
    border-radius: 1px;
    letter-spacing: 3px;
    text-align: left;
    cursor: pointer;

    .event__date {
        width: 80px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        font-size: 12px;
        padding-top: 5px;

        .event__dateYear {
            opacity: .33;
            font-weight: 300;
        }

        .event__dateDayOfWeek {
            padding-top: 3px;
            text-transform: uppercase;
        }

        .event__dateDay {
            font-weight: 600;
            font-size: 50px;
            transition: font-size .3s !important;
        }

        .event__dateMonth {
            text-transform: uppercase;
        }
    }

    .event__artwork {
        display: inline-block;
        vertical-align: top;
        width: 150px;
        height: 200px;

        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }

    .event__artworkLoading {
        padding-top: 60px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 150px;
        height: 140px;
    }

    .event__artworkProfile {
        display: inline-block;
        vertical-align: top;
        width: 90px;
        height: 120px;

        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }

    .event__artworkLoadingProfile {
        padding-top: 30px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 90px;
        height: 90px;
    }

    .event__main {
        display: inline-block;
        object-fit: cover;
        vertical-align: top;
        padding: 3px 5px 3px 20px;
        width: calc(100% - 115px - 170px);

        .event__titleLocation {
            .event__titleProfile {
                padding-top: 3px;
            }

            .event__title {
                padding-top: 3px;
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .event__location {
                font-size: 17px;
                font-style: italic;
                font-weight: 300;
                padding-right: 10px;
            }
        }

        .event__tagsProfile {
            padding-top: 10px;
            height: 32px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .ant-tag-borderless {
                font-size: 10px !important;
                border-color: rgba(var(--themeFontColor), .2);
                color: rgba(var(--themeFontColor), 1);
                margin: 0 3px 3px 0;
            }
        }

        .event__tags {
            width: 100%;
            padding-top: 10px;

            .ant-tag-borderless {
                border-color: transparent;
                background: rgba(255, 255, 255, .6);
                margin: 3px;

                &:hover {
                    background: rgba(255, 255, 255, .9);
                }
            }
        }

        .event__time,
        .event__location {
            padding-top: 8px;
            font-size: 12px;
        }

        .event__promoter {
            padding-top: 10px;
            font-size: 12px;

            .event__organizedBy {
                opacity: .5;
            }
        }
    }

    .event__actions {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 5;
        font-size: 14px;

        .event__action {
            display: inline-block;
            padding: 0 2px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: 675px) {
    .event__Container {
        width: calc(100% - 40px);
        margin: 10px 20px 20px 20px;
        padding: 0px;

        .event__date {
            width: 100%;
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, .33);
            padding-bottom: 5px;
            margin-bottom: 5px;

            .event__dateYear {
                position: absolute;
                right: 25px;
                opacity: .25;
                font-weight: 300;
                font-size: 33px;
                padding-top: 3px;
            }

            .event__dateDayOfWeek {
                display: inline-block;
                font-weight: 300;
                font-size: 33px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .event__dateDay {
                display: inline-block;
                font-weight: 300;
                font-size: 33px;
                margin-right: 10px;
            }

            .event__dateMonth {
                display: inline-block;
                font-size: 33px;
            }
        }

        .event__main {
            padding: 0;
            width: 100%;

            .event__titleLocation {
                .event__location {
                    display: inline-block;
                    font-size: 15px;
                }

                .event__title {
                    display: inline-block;
                    font-size: 15px;
                }
            }

            .event__promoter {
                display: none;
            }

            .event__tags {
                padding-bottom: 8px;
                display: none;
            }
        }

        .event__artwork {
            width: 100%;
            height: 200px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .event__artworkLoading {
            width: 100%;
        }
    }

    .event__delete {
        display: block;
    }
}