.eventform__container {
    position: relative;
    width: calc(100% - 64px);
    margin: 32px;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 100 - 200px);

    .eventform__spacer {
        margin-top: 32px;
    }

    .eventform__steps {
        z-index: 3;
    }
}

@media only screen and (max-width: 720px) {
    .eventform__container {
        width: 100%;
        margin: 16px 0;

        .eventform__spacer {
            margin-top: 16px;
        }
    }
}

.eventform__singupfirst {
    height: calc(var(--vh, 1vh) * 100 - 200px);
    width: calc(100% - 64px);
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .eventform__singupfirstImg {
        padding-bottom: 12px;
    }

    .eventform__singupfirstText {
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 30px;
        font-weight: 300;
        opacity: 1;
        text-align: center;
        cursor: pointer;

        &:hover {
            opacity: .75;
        }

        .eventform__avatarlogo {
            padding: 5px;
            border: 1px solid rgba(var(--themeFontColor), 1);
            border-radius: 15px;
        }
    }
}