.menu__container {
   position: absolute;
   right: 0;
   top: 0;
   z-index: 10;
   font-size: 20px;
   margin: 20px 20px; 
   .menu__icon {
      font-size: 22px;
      color: rgba(225, 207, 187, .6);
      &:hover {
         color: rgba(225, 207, 187, 1);
      }
   }
    .menu__avatar { 
        position: relative;
        background-color: rgba(225, 207, 187, .1);
        &:hover {
           color: rgba(225, 207, 187, .3);
        }
    }
}