.optionform__container {
    width: 100%;
    max-width: 1080px;

    .ant-input-number-outlined,
    .ant-picker-outlined,
    .ant-select-selector {
        background-color: rgba(white, .75) !important;
        border-color: transparent !important;
        color: rgba(20, 36, 54, 1) !important;
        border-radius: 5px;
        margin-bottom: 3px;
        width: 100% !important;
    }

    .ant-select-outlined {
        width: calc(100% - 60px);
        margin-right: 16px;
    }

    .ant-select-disabled .ant-select-selector {
        background-color: rgba(white, .1) !important;
        color: rgba(white, .5) !important;
    }

    .optionform__select {
        text-align: center;
        padding-bottom: 8px;
    }

    .ant-btn-default {
        background-color: rgba(white, .75) !important;
        border-color: transparent !important;

        &:disabled {
            background-color: rgba(white, .1) !important;
            border-color: transparent !important;
            color: rgba(20, 36, 54, 1) !important;
            color: rgba(var(--themeFontColor), .1) !important;
        }
    }

    .optionform__element {
        font-size: 16px;
        padding: 0 0 12px 0;

        .optionform__title {
            font-size: 14px;
            padding: 0 0 4px 8px;
        }

        .optionform__error {
            color: firebrick;
            filter: brightness(2);
            font-size: 14px;
        }

        .optionform__dresscodeError {
            padding-left: 16px;
            display: inline-flex;
        }

        .optionform__priceButton {
            border: rgba(var(--themeFontColorInvert), 1) !important;

            &:hover {
                color: rgba(var(--themeFontColorInvert), 1) !important;
                background-color: rgba(var(--themeFontColor), 1) !important;
            }
        }

        .optionform__deletePriceButton {
            border: rgba(var(--themeFontColorInvert), 1) !important;

            &:hover {
                background-color: rgba(firebrick, .75) !important;
                color: white !important;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    .optionform__container {
        width: calc(100% - 32px);
        margin: 16px 0;
    }
}