.EditSettings__singleSetting .deleteButton {
    width: 250px;
    background: rgba(110, 0, 0, 1);
    border: 1px solid rgb(80, 0, 0);
  }
  
.EditSettings__singleSetting .deleteButton:hover {
    background: rgba(110, 0, 0, .5);
  }

.EditSettings__singleSetting .deleteButtonSpacer {
    display: inline-block;
    width: 10px;
    height: 10px;
}
  
@media (max-width: 800px) {
  .EditSettings__singleSetting .deleteButtonSpacer {
    width: 100%;
    height: 0;
  }
}