.profil__actionContainer {
  margin-top: 14px;
  text-align: right;
  color: rgba(var(--themeFontColor), 1);

  .profil__action {
    cursor: pointer;

    &:hover {
      opacity: .75;
    }
  }

  .profil__action {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

@media (max-width: 800px) {
  .profil__actionContainer {
    display: inline-block;
    padding: 0 20px 0 10px;
    margin: 0;
    width: 55vw;

    .profil__action {
      font-size: 12px;
      margin-bottom: 2px;
    }
  }
}