.agenda__filterContainer {
    width: calc(100% - 50px);
    padding: 30px 25px 0 25px;
    .agenda__browseMonth {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 27px;
        font-weight: 600;
        text-transform: uppercase;
        .agenda__browseMonthLogo {
            position: relative;
            top: 1px;
            cursor: pointer;
            &:hover {
                opacity: .75;
            }
        }
    }
    .agenda__fitler {
        display: inline-block;
        width: calc(50% - 10px); //margin right
        font-size: 16px;
        text-align: right;
        margin-right: 10px;
    }
}