.ant-float-btn-default {
    background-color: transparent !important;
}

.missingEventButtonContainer .ant-float-btn-body {
    background-color: rgba(DarkRed, .25) !important;
    &:hover {
        background-color: rgba(DarkRed, .75) !important;
        color: rgba(225,207,187, .75) !important;
    }
    .ant-float-btn-icon {
        position: relative;
        color: rgba(var(--themeFontColorInvert), 1) !important;
    }
}

.missingEventButton .ant-float-btn-body {
    background-color: rgba(var(--themeFontColor), 1) !important;
    &:hover {
        background-color: rgba(var(--themeFontColor), 1) !important;
        filter: brightness(1.1);
    }
    .ant-float-btn-icon {
        position: relative;
        color: rgba(var(--themeFontColorInvert), 1) !important;
    }
}