.header__container {
    position: relative;
    height: 70px;
    z-index: 1001;

   .header__logo {
        width: 40px;
        margin: 15px;
     }

   .header__socials {
      position: absolute;
      top: 0;
      right: 100px;
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   @media only screen and (max-width: 675px) {
      .header__logo {
         width: 40px;
      }
      .header__socials {
         right: 80px;
      }
   }
}