.header__container {
    position: relative;
    height: 90px;
    z-index: 1001;

    .header__logo {
        width: 50px;
        margin: 20px;
     }
     @media only screen and (max-width: 675px) {
        .header__logo {
           width: 40px;
        }
     }

}