/* notification custom */
.customNotification {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 0 !important;
}

.ant-notification .ant-notification-notice-wrapper {
  margin-bottom: 0 !important;
  background-color: transparent;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
  background-color: rgba(30, 30, 30, .95);
  border-radius: 7px;
}

.customNotification .ant-notification-notice-message {
  font-weight: 600;
}

.customNotification .ant-notification-notice-message,
.customNotification .ant-notification-notice-description {
  font-family: "Roboto", Sans-serif !important;
  color: rgba(255, 255, 255, .95) !important;
}

.customNotification .ant-notification-notice-close {
  top: 12px !important;
  right: 12px !important;
  color: rgba(255, 255, 255, .75) !important;
}

/* Tooltip custom */
.ant-tooltip {
  color: rgba(255, 255, 255, 0.75);

  .ant-tooltip-inner {
    color: #000;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .ant-tooltip-arrow {
    &:after {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

/* Modal custom */
.ant-modal-content {
  padding-bottom: 5px !important;
}

.ant-modal .ant-modal-header,
.ant-modal-title {
  color: rgba(255, 255, 255, .95) !important;
  background-color: transparent !important;
}

.ant-modal .ant-modal-content {
  color: rgba(255, 255, 255, .95) !important;
  background-color: rgba(30, 30, 30, .95) !important;
}

.ant-row .ant-form-item-row .ant-form-item-label {
  color: rgba(255, 255, 255, .95) !important;
}

.ant-form-item-required {
  color: rgba(255, 255, 255, .95) !important;
}

.ant-modal-close {
  top: 12px !important;
  right: 12px !important;
  color: rgba(255, 255, 255, .75) !important;
}

/* Radio custom */
.ant-radio-button-wrapper {
  color: rgba(30, 30, 30, .95) !important;
}

.ant-radio-button-wrapper-checked {
  background: rgba(255, 255, 255, .75) !important;
  border-color: rgba(255, 255, 255, .75) !important;
  color: black !important;
}

.ant-radio-button-wrapper-checked {
  background: rgba(255, 255, 255, .75) !important;
  border-color: rgba(255, 255, 255, .75) !important;
}


/* Input custom */
.ant-input-affix-wrapper-disabled {
  background-color: rgba(255, 255, 255, .5) !important;
}

/* Checkbox custom */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(20, 36, 54, 1);
  border-color: rgba(20, 36, 54, 1);
}

.ant-checkbox-checked .ant-checkbox-inner:hover {
  background-color: rgba(20, 36, 54, .5) !important;
  border-color: rgba(20, 36, 54, .5) !important;
}

/* Switch Custom */
.ant-switch-checked {
  background-color: green !important;
}

/* Select Custom */
.ant-select-selector {
  border-radius: 3px;
}

.ant-select-selector {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  border-bottom: 1px solid rgba(var(--themeFontColor), .15) !important;
  color: rgba(var(--themeFontColor), 1) !important;
}

.ant-select-arrow,
.ant-select-selection-item-remove {
  color: rgba(var(--themeFontColor), .5) !important;
}

.ant-select-selection-placeholder {
  color: rgba(var(--themeFontColor), .75) !important;
}

.anticon-close-circle {
  position: relative;
  font-size: 16px;
  top: -2px;
  color: rgba(var(--themeFontColor), .75) !important;
}

.ant-select-selection-item {
  background-color: rgba(var(--themeFontColor), .15) !important;
}

.ant-select-dropdown {
  background-color: rgba(var(--themeFontColorInvert), .9) !important;
  border-radius: 0 !important;
}

.ant-select-item {
  color: rgba(var(--themeFontColor), 1) !important;
}

.ant-select-item-group {
  color: rgba(var(--themeFontColor), .5) !important;
}

.ant-select-item-option-selected {
  background: rgba(var(--themeFontColor), .8) !important;
  color: rgba(var(--themeFontColorInvert), 1) !important;
  border-radius: 0 !important;
}

.ant-select-item-option-active {
  background: rgba(var(--themeFontColorInvert), 1) !important;
  color: rgba(var(--themeFontColor), 1) !important;
  border-radius: 0 !important;
}

.rc-virtual-list-scrollbar-thumb {
  background: rgba(var(--themeFontColor), .25) !important;
}

/* Tour custom */
.ant-tour-inner {
  color: rgba(black, .95) !important;
  background-color: rgba(220, 220, 220, .9) !important;
}

.ant-tour-indicator {
  background-color: rgba(black, .3) !important;
}

.ant-tour-indicator-active {
  background-color: black !important;
}

.ant-tour-buttons .ant-btn-primary {
  background-color: black !important;
  color: rgba(220, 220, 220, 1) !important;
}

.ant-tour-close {
  color: rgba(black, .75) !important;
}

/* Steps */

.ant-steps {
  padding: 0 8px;
}

.ant-steps-item-title,
.ant-steps-item-description {
  color: rgba(var(--themeFontColor), .25) !important;
}

.ant-steps-item-description {
  max-width: 200px !important;
}

.ant-steps-item-active .ant-steps-item-title {
  color: rgba(var(--themeFontColor), 1) !important;
}

.ant-steps-item-active .ant-steps-item-description {
  color: rgba(var(--themeFontColor), .7) !important;
}

.ant-steps-item-title,
.ant-steps-item-tail {
  &::after {
    background-color: rgba(var(--themeFontColor), .5) !important;
  }
}

.ant-steps-item-icon {
  background-color: rgba(var(--themeFontColor), 1) !important;
  border-color: rgba(var(--themeFontColor), 1) !important;

  .ant-steps-icon {
    color: rgba(var(--themeFontColorInvert), 1) !important;
  }

  .ant-steps-icon-dot {
    border-color: rgba(var(--themeFontColor), 1) !important;
    background-color: rgba(var(--themeFontColor), 1) !important;
  }
}

.ant-steps-item-wait .ant-steps-item-icon {
  background-color: rgba(var(--themeFontColor), .25) !important;
  border-color: rgba(var(--themeFontColor), .15) !important;

  .ant-steps-icon {
    color: rgba(var(--themeFontColor), .5) !important;
  }

  .ant-steps-icon-dot {
    border-color: rgba(var(--themeFontColor), .15) !important;
    background-color: rgba(var(--themeFontColor), .25) !important;
  }
}

.ant-steps-item-error .ant-steps-item-icon {
  background-color: rgba(107, 12, 5, 1) !important;
  border-color: rgba(var(--themeFontColor), .15) !important;

  .ant-steps-icon {
    color: rgba(225, 207, 187, 0.75) !important;
  }

  .ant-steps-icon-dot {
    border-color: rgba(var(--themeFontColor), .15) !important;
    background-color: rgba(107, 12, 5, 0.75) !important;
  }
}