/* Invert filter for dark vs light theme */
.invertColorTheme {
    filter: invert(0);
  }
  
  .theme__logoInvertColor{
    filter: invert(1);
  }
  
  .lightColorTheme__Text {
    color: rgba(20,36,54,1);
  }
  
  .darkColorTheme__Text {
    color: rgba(225,207,187,1);
  }
  
  .lightColorTheme__SubText {
    color: rgba(20,36,54,.75);
    a {
      font-weight: bold;
      color: rgba(20,36,54,1) !important;
    }
  }
  
  .darkColorTheme__SubText {
    color: rgba(225,207,187,.75);
    a {
      font-weight: bold;
      color: rgba(225,207,187,1) !important;
    }
  } 
  
  .lightColorTheme__Button {
    color: rgba(225,207,187,1)  !important;
    background-color: rgba(20,36,54,.75) !important;
    border-color: rgba(20,36,54,1) !important;
    &:hover {
      background-color: rgba(20,36,54,1) !important;
    }
  }
  
  .darkColorTheme__Button {
    color: rgba(20, 36, 54, 1) !important;
    background-color: rgba(218, 166, 159, .9) !important;
    border-color: rgba(218, 166, 159, .75) !important;
    &:hover {
      background-color: rgba(218, 166, 159, 1) !important;
    }
  }
  
  .lightColorTheme__Menu {
    background-color: rgba(225, 207, 187, .75);
    border: 1px solid rgba(20, 36, 54, .3);
    .menu__element {
      color: rgba(20, 36, 54, 1);
      &:hover {
         color: rgba(225, 207, 187, 1);
         background-color: rgba(20, 36, 54, .5);
      }
      .menu__link {
      color: rgba(20, 36, 54, 1);
         &:hover {
            color: rgba(225, 207, 187, 1);
         }
      }
    }
    .menu__elementDisabled {
        color: rgba(20, 36, 54, .3);
    }
    .menu__whiteline {
        border-bottom: 1px solid rgba(20, 36, 54, .3);
    }
  }
  
  
  .darkColorTheme__Menu {
    background-color: rgba(20, 36, 54, .75);
    border: 1px solid rgba(225, 207, 187, .3);
    .menu__element {
      color: rgba(225, 207, 187, 1);
      &:hover {
         color: rgba(20, 36, 54, 1);
         background-color: rgba(225, 207, 187, .5);
      }
      .menu__link {
      color: rgba(225, 207, 187, 1);
         &:hover {
            color: rgba(20, 36, 54, 1);
         }
      }
    }
    .menu__elementDisabled {
        color: rgba(225, 207, 187, .3);
    }
    .menu__whiteline {
        border-bottom: 1px solid rgba(225, 207, 187, .3);
    }
  }
  
  .lightColorTheme__Header {
    background-color: rgba(225, 207, 187, .5);
    border-bottom: 1px solid rgba(20, 36, 54, .3);
  }
  
  .darkColorTheme__Header {
    background-color: rgba(20, 36, 54, .5);
    border-bottom: 1px solid rgba(225, 207, 187, .3);
  }