@widthPhonePanel: 40vw;

.backgroundVerifyEmail {
   position: fixed;
   width: 100vw;
   height: calc(var(--vh, 1vh) * 100);
   background-size: cover;
}

.overBackground {
   position: absolute;
   width: 100vw;
   height: calc(var(--vh, 1vh) * 100);
   background-color: rgba(var(--themeFontColorInvert), 0.5);
}


@media only screen and (max-width: 675px) {

   .backgroundVerifyEmail,
   .overBackground {
      background-size: cover;
      background-position: center;
   }
}

.verifyEmail__container {
   position: relative;
   height: calc(var(--vh, 1vh) * 100);
   z-index: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .verifyEmail__logo {
      width: 75px;
      padding-top: 33px;
   }

   .verifyEmail__text {
      max-width: min(600px, 80vw);
      line-height: 32px;
      font-size: 18px;
      font-family: "Roboto", Sans-serif;
      letter-spacing: 3px;
      font-weight: 300;
      text-align: center;
   }


   @media only screen and (max-width: 675px) {
      .verifyEmail__logo {
         width: 15vw;
      }

      .verifyEmail__text {
         line-height: 22px;
         font-size: 12px;
         padding-top: 20px;
      }
   }
}