.reportbug__modal {
    background-color: black !important;
    background-size: cover;
    border-radius: 8px;

    .reportbug__footerContainer {
        margin: 16px 0;
        text-align: left;

        .reportbug__footerContainerLeft {
            display: inline-flex;
            vertical-align: top;
            width: calc(100% - 140px);

            .reportbug__screenshotCheck {
                color: rgba(var(--themeFontColor), 1);
            }
        }

        .reportbug__error {
            display: inline;
            color: firebrick;
            filter: brightness(2);
            font-size: 14px;
            margin-top: 8px;
            font-weight: 400;
        }

        .reportbug__footerButton {
            margin-left: 8px;
            width: 130px;
            border: rgba(var(--themeFontColorInvert), 1) !important;

            &:hover {
                color: rgba(var(--themeFontColorInvert), 1) !important;
                background-color: rgba(var(--themeFontColor), 1) !important;
            }

            &:disabled {
                border: 1px solid rgba(white, .3) !important;
                color: rgba(white, .5);

                &:hover {
                    border: 1px solid rgba(white, .2) !important;
                    color: rgba(white, .3) !important;
                    background-color: transparent !important;
                }
            }
        }
    }


}

@media only screen and (max-width: 675px) {
    .ant-modal-body {
        font-weight: 300;
        font-size: 10px !important;
    }
}