.customSpinner__logo{
    width: 75px;
    filter: invert(1);
    animation: 1s infinite alternate linear rotateY;
}

.customSpinner__text {
    font-size: 13px;
    letter-spacing: 3px;
    color: rgba(225, 207, 187, 1);
    font-weight: 300;
    margin-top: 15px;
    opacity: .5;
}

.customSpinner__sizeSmall {
    width: 35px;
}

.customSpinner__sizeMedium {
    width: 75px;
}

.customSpinner__sizeLarge {
    width: 125px;
}


@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(90deg);
    }
 }