.eventpage__descCol {
    margin-left: 32px;
    flex: 2 1 0%;
    font-size: 20px;

    .ant-tag-borderless {
        border-color: transparent;
        background: rgba(var(--themeFontColor), .75);
        color: rgba(var(--themeFontColorInvert), 1);
        margin: 0 3px;
    }

    .eventpage__title {
        font-size: 62px;
        font-weight: 100;
        line-height: 80%;
        text-transform: uppercase;
        padding-bottom: 22px;
        text-align: right;
        overflow-wrap: anywhere;
    }

    .eventpage__date {
        letter-spacing: -1px;
        padding-bottom: 6px;
        text-align: right;

        .eventpage__weekday {
            opacity: .5;
            font-weight: 200;
            padding-right: 4px;
        }

        .eventpage__year {
            opacity: .5;
            padding-left: 4px;
        }
    }

    .eventpage__typeLocation {
        letter-spacing: -1px;
        text-align: right;

        .eventpage__typeLocationSpan {
            padding-left: 14px;

            .eventpage__typeLocationIcon {
                padding-right: 2px;
                font-size: 16px;
                opacity: .75;

            }
        }
    }
}


@media only screen and (max-width: 675px) {
    .eventpage__descCol {
        margin: 16px;
        font-size: 16px;

        .eventpage__title {
            font-size: 42px;
        }
    }
}