.newsletter__background {
   position: fixed;
   width: 100vw;
   height: 100vh;
   /* Fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 100);
   background-image: url('../../img/background.jpg');
   background-size: cover;
}

.newsletter__overBackground {
   position: fixed;
   width: 100vw;
   height: 100vh;
   /* Fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 100);
   background-color: rgba(var(--themeFontColorInvert), 0.5);
}

.newsletter__goBack {
   position: absolute;
   top: 20px;
   left: 20px;
   z-index: 6;
   font-weight: 300;
   font-size: 30px;
   text-align: right;
}

.newsletter__container {
   position: relative;
   height: 100vh;
   /* Fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 100);
   z-index: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .newsletter__formContainer {
      width: 400px;
   }

   .newsletter__header {
      width: 400px;
      font-weight: 200;
      font-size: 16px;
      text-align: left;
      margin-bottom: 2vh;
   }

}

@media only screen and (max-width: 675px) {

   .newsletter__background,
   .newsletter__overBackground {
      height: 201vh;
      background-size: cover;
      background-position: center;
   }

   .newsletter__container {
      .newsletter__formContainer {
         max-width: 85vw;
      }

      .newsletter__header {
         max-width: 85vw;
         text-align: right;
      }

   }

}