.socials__container {
    .socials__link {
        display: inline-flex;
        padding: 30px 20px 0 20px;
        font-size: 16px;
        cursor: pointer;
        color: rgba(225, 207, 187, 1);
        a {
           color: rgba(225, 207, 187, 1);
           }
    }
}