.signup__full {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__full .signup__form {
  width: 400px;
}

.signup__full .signup__formbutton {
  width: 100%;
}

.signup__full .signup__terms {
  text-align: left;
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
}

.signup__full .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #43464D;
  background: #43464D;
}

.signup__full .ant-checkbox-input:hover {
  border-color: #43464D;
  background: #43464D;
}

.signup__datePicker {
  width: 100%;
}

.signup__full .signup__header {
  width: 400px;
  font-weight: 200;
  font-size: 16px;
  text-align: left;
  margin-bottom: 2vh;
}

.signup__full .signup__code {
  display: block;
}

.signup__full .signup__username {
  display: inline-block;
}

.signup__full .signup__spacerBirthday {
  display: inline-block;
  width: 24px;
  line-height: 32px;
}

@media (max-width: 800px) {
  .signup__full .signup__header {
    font-size: 14px;
    width: 85%;
  }

  .signup__full .signup__form {
    width: 85%;
  }

  .signup__full .signup__code {
    display: none;
  }

  .signup__full .signup__spacerBirthday {
    display: none;
  }

  .signup__full .signup__username {
    width: 100%;
  }

}