.artwork__form {
  font-size: 14px;
  font-weight: 200;

  .inputfile {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
  }

  .inputfile+label {
    color: rgba(var(--themeFontColor), 1);
    background: rgba(var(--themeFontColorInvert), .75);
    border: 1px dashed rgba(var(--themeFontColor), .5);
    cursor: pointer;
    transition: border-color 0.3s, background 0.3s, color 0.3s;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .inputfile:focus+label,
  .inputfile+label:hover {
    background: rgba(var(--themeFontColor), .15);
  }

  .uploadArea {
    height: calc(100vh - 275px) !important;
    width: 100vw !important;
  }

  .uploadIcon,
  .uploaderSpinner {
    color: rgba(var(--themeFontColor), 1);
    font-size: 36px;
    margin: 0 0 8px 0 !important;
  }
}

.artworkform__error {
  color: firebrick;
  filter: brightness(2);
  font-size: 14px;
  margin-bottom: 8px;
}