@font-face {
  font-family: 'DMSerifDisplay';
  src: url('./font/DMSerifDisplay.ttf') format('truetype');
}  

/* html, body {
  // Deactivate android swipe behavior
  // eg: swipe flet to go back in the history 
  // or swipe down to reload the page
  overscroll-behavior: none;
} */

body {
  margin: 0;
  font-family: "Roboto", Sans-serif;
}

.App {
  font-size: min(calc(7px + 2vmin), 25px);
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  .main {
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
  }
}

.link {
  cursor: pointer;
  text-decoration: none !important;
  transition: color .3s;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.link:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  font-weight: 300;
}