.white {
    color: white;
}
.black {
    color: black;
}

.eventpage__container {
    width: calc(100% - 64px);
    margin: 32px;
    max-width: 1080px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    .eventpage__spinnerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 70px - 60px);
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100 - 70px - 60px);
        width: 100%;
    }

    .eventpage__artworkCol {
        min-width: 330px;

        .eventpage__artworkContainer {
            .eventpage__artwork {
                border-radius: 0px;
                width: 100%;
            }
        }
    }

    .eventpage__descCol {
        margin-left: 32px;
        flex: 2 1 0%;

        .eventpage__title {
            font-size: 62px;
            font-weight: 100;
            line-height: 70%;
            text-transform: uppercase;
            padding-bottom: 22px;
            text-align: right;
        }

        .eventpage__date {
            font-size: 20px;
            letter-spacing: -1px;
            padding-bottom: 6px;
            text-align: right;

            .eventpage__weekday {
                opacity: .5;
                font-weight: 200;
                padding-right: 4px;
            }

            .eventpage__year {
                opacity: .5;
                padding-left: 4px;
            }
        }

        .eventpage__typeLocation {
            font-size: 20px;
            letter-spacing: -1px;
            text-align: right;

            .eventpage__typeLocationSpan {
                padding-left: 14px;

                .eventpage__typeLocationIcon {
                    padding-right: 2px;
                    font-size: 16px;
                    opacity: .75;

                }
            }
        }

        .eventpage__descContainer {
            padding-top: 32px;

            .eventpage__descTitle {
                font-size: 20px;
                opacity: 1;
                padding-bottom: 8px;
            }

            .eventpage__desc {
                font-size: 18px;
                color: rgba(var(--themeFontColor), .8);
                text-align: justify;
                text-justify: inter-word;
            }
        }
        .eventpage__infoContainer {
            padding-top: 32px;

            .eventpage__infoTitle {
                font-size: 20px;
                opacity: 1;
                padding-bottom: 8px;
            }

            .eventpage__info {
                color: rgba(var(--themeFontColor), .8);
                font-size: 16px;
                text-align: justify;
                text-justify: inter-word;
                .eventpage__subInfo {
                    padding-bottom: 8px;
                    .eventpage__infoIcon {
                        position: relative;
                        top: 0px;
                        font-size: 14px;
                        padding-right: 3px;
                    }
                }
                .eventpage__tags {
                    .eventpage__infoIcon {
                        position: relative;
                        top: 0px;
                        font-size: 14px;
                    }
                    .ant-tag-borderless {
                        border-color: transparent;
                        background: rgba(var(--themeFontColor), .75);
                        color: rgba(var(--themeFontColorInvert), 1);
                        margin: 0 3px;
                    }
                }
            }
        }

        .eventpage__lineupContainer {
            padding-top: 32px;

            .eventpage__lineupTitle {
                font-size: 20px;
                opacity: 1;
                padding-bottom: 8px;
            }

            .eventpage__lineup {
                font-size: 18px;
                color: rgba(var(--themeFontColor), .8);
                .eventpage__subInfo {
                    padding-bottom: 8px;
                    .eventpage__infoIcon {
                        position: relative;
                        top: 0px;
                        font-size: 14px;
                        padding-right: 3px;
                    }
                }
            }
        }

        .eventpage__locationContainer {
            padding-top: 32px;

            .eventpage__locationTitle {
                font-size: 20px;
                opacity: 1;
                padding-bottom: 8px;
            }

            .eventpage__location {
                font-size: 18px;
                color: rgba(var(--themeFontColor), .8);
                .eventpage__subInfo {
                    padding-bottom: 8px;
                    .eventpage__infoIcon {
                        position: relative;
                        top: 0px;
                        font-size: 14px;
                        padding-right: 3px;
                    }
                }
            }
        }
    }

    .eventpage__back {
        width: calc(100% - 40px); // minus margin/padding
        padding: 0 0;
        margin: 25px 0 10px 0;
        font-size: 14px;
        font-weight: 400;
    }
}


.eventpage__promoter {
    padding-top: 10px;
    font-size: 12px;

    .link {
        color: rgba(white, 1);
        font-weight: 600;

        &:hover {
            color: rgba(var(--themeFontColor), .75);
        }
    }
}