.locationUpdate__container {

    .locationUpdate__title {
        width: 100%;
        margin-bottom: 8px;
        font-weight: 300;
    }

    .locationUpdate__googlemap {
        margin: 0;
        height: 200px;
        transition: height .3s;
    }

    .locationUpdate__aimLogo {
        cursor: pointer;
        color: rgba(black, 1);
    }

    .locationUpdate__coordinates {
        color: rgba(black, .25);
    }

    .locationUpdate__input {
        width: calc(100% - 40px);
    }

    .locationUpdate__button {
        margin-left: 8px !important;
        border: 1px solid rgba(var(--themeFontColor), .05) !important;
        background-color: rgba(var(--themeFontColor), 1);
        color: rgba(var(--themeFontColorInvert), 1);

        &:disabled {
            background-color: rgba(var(--themeFontColor), .15);

            &:hover {
                background-color: rgba(var(--themeFontColor), .25) !important;
            }
        }

        &:hover {
            background-color: rgba(SeaGreen, .75) !important;
        }

    }

}