@widthPhonePanel: 40vw;

.background {
   position: fixed;
   width: 100vw;
   height: 100vh;
   background-image: url('../../img/background.jpg');
   background-size: cover;
   filter: grayscale(1) contrast(1.25);
}
@media only screen and (max-width: 675px) {
   .background {
      height: 201vh;
      background-size: cover;
      background-position: center;
   }  
}

.admin__container {
   position: relative;
   min-height: 100vh;
   z-index: 2;
  
   .admin__text {
      font-size: 15px;
      letter-spacing: 2px;
      font-weight: 300;
   }

   .admin__sectionContainer {
      padding: 20px 25px;
   }

   .admin__editLogo {
      font-size: 17px;
      color: black;
   }

   .admin__saveLogo {
      font-size: 20px;
      color: green; 
   }

   .admin__cancelLogo {
      font-size: 20px;
      color: red; 
   }

   .admin__tableFooter {
      text-align: right;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .admin__disabled {
      color: rgba(0,0,0,.2);
   }
   
   .admin__tabs {
      .ant-tabs-tab {
         color: rgba(255,255,255,.6) !important;
      }
      .ant-tabs-tab-disabled {
         color: rgba(255,255,255,.2) !important;
      }
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
         color: white !important;
         font-weight: 500;
      }
      .ant-tabs-ink-bar {
         position: absolute;
         background: white;
         pointer-events: none;
      }
   }

   .admin__table {
      padding-top: 10px;

      .ant-table {
         background: rgba(255,255,255,.8) !important;
      }
      .ant-table-thead>tr>th {
         background-color:rgba(0,0,0,.75);
         color: white; 
      }
      .ant-table-cell::before {
         background-color: transparent !important;
       
      }
   }

   .admin__closeLogo {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: white;
      z-index: 10;
      cursor: pointer;
      transition: opacity .3s linear;
      opacity: .75;
      &:hover {
         opacity: 1;
      }
   }

   .admin__centered {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      .admin__title {
         font-size: 15px;
         letter-spacing: 10px;
         font-weight: 400;
         text-align: center;
         padding: 0 20px;
      }
   }
}

.ant-segmented-item-selected {
   background-color: rgba(0,0,0,.75) !important;
   color: white !important;
}