.menu__Container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10; 
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    height: auto;
    background-color: rgba( 0,0,0,.9);
    border: 1px solid rgba(255,255,255,.2);
    opacity: 0;
    transition: opacity .3s;
}

.menu__profile {
    text-align: right;
    width: 50px;
}
  
.menu__avatar { 
    position: relative;
    z-index: 2000;
    background-color: "#000";
}

.menu__element {
    width: 100%;
    padding: 2px 10px 2px 17px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}

.menu__Container .menu__element:hover {
    color: black;
    background-color: rgba( 255, 255, 255,.5);
    font-weight: 400;
}

.menu__elementDisabled {
    width: 100%;
    padding: 2px 10px 2px 17px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgba(255,255,255,.25)
}

.menu__Container .menu__link:hover {
    color: black !important;
}

.menu__whiteline {
    width: 130px;
    border-bottom: 1px solid rgba(255,255,255, .25);
    margin: 10px 10px;
}


@media (max-width: 420px) {
    .menu__Container {
        right: 0;
    }
  }