.banner__container {
  position: relative;
  z-index: 5;
  width: 100vw;
  font-size: 14px;
  letter-spacing: 1px;
  transition: max-height 0.5s ease-in-out, font-size 0.5s ease-in-out;
  visibility: hidden;
  text-transform: uppercase;
}

.banner__red {
  background-color: rgba(DarkRed, .75);

  &:hover {
    background-color: rgba(DarkRed, 1);
  }

}

.banner__lightRed {
  background-color: rgba(LightCoral, .75);

  &:hover {
    background-color: rgba(LightCoral, 1);
  }

}

.banner__desc {
  text-align: center;
  padding: 12px 40px;
  color: rgba(white, 1);
  cursor: pointer;

}

.banner__action {
  position: absolute;
  height: calc(100% - 20px);
  width: 36px;
  padding: 10px;
  z-index: 2;
  right: 0;
  top: 0;
  color: rgba(white, .75);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    color: rgba(white, 1);
  }
}